body {
    color: #999;
}
.widget{
    height: 38px;
    overflow: hidden;
    padding: 10px;
    transition: height 2s;
}
.widget-btn{
    background-color: blue;
    color: white;
    padding: 10px;
}
.widget-content{
    margin-top: 30px;
    background-color: #fff;
    border: 1px solid #a7a7a7;
    box-sizing: border-box;
    padding: 10px;
    width: 300px;
}
.widget-content p{
    max-width: 300px;
}
.content-active{
    height: 300px;
}